%h1 Multi-Enum
Storing a collection of items as a single integer (with no join tables).
The Widget table below has only
%code id:integer
,
%code name:string
,
and
%code option_id:integer
columns.

%hr

%h4 Feel free to play around and see how it works

= render 'widgets'

%table#widgets
  %thead
    %tr
      %th Name
      %th Option ID
      %th Options
      %th{colspan: 2}

  %tbody#list
    = render 'list'

%br

= link_to 'New Widget', new_widget_path, class: "button new"
%hr
= link_to "More Details..", "#", id: 'show-info', class: "button"

.form-group
  = render 'info'
